---
title: "New Account"
preheader: "We're thrilled to have you here! Get ready to dive into your new account."
bodyClass: bg-ceej-body
googleFonts: 'Lato'
---

<extends src="src/components/mail/templates/main.html">
    <block name="template">
        <table class="w-full all:font-lato">
            <!-- LOGO -->
            <tr>
                <td align="center" class="bg-ceej-orange">
                    <!--[if (gte mso 9)|(IE)]>
            <table align="center" cellspacing="0" cellpadding="0" style="width: 600px;">
              <tr>
                <td align="center" valign="top">
                  <![endif]-->
                    <table class="w-full max-w-600">
                        <tr>
                            <td align="center" class="py-40 px-10 align-top">
                                <a href="https://litmus.com" target="_blank">
                                    <img src="http://litmuswww.s3.amazonaws.com/community/template-gallery/ceej/logo.png"
                                        alt="Logo" class="w-40 text-lg text-white">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
          <![endif]-->
                </td>
            </tr>
            <!-- HERO -->
            <tr>
                <td align="center" class="px-10 bg-ceej-orange">
                    <!--[if (gte mso 9)|(IE)]>
            <table align="center" cellspacing="0" cellpadding="0" style="width: 600px;">
              <tr>
                <td align="center" valign="top">
                  <![endif]-->
                    <table class="w-full max-w-600">
                        <tr>
                            <td align="center"
                                class="p-20 pt-40 rounded-tl rounded-tr align-top leading-48 text-ceej-black bg-white">
                                <h1 class="m-0 text-5xl sm:text-32px sm:leading-32 font-normal tracking-loose">Welcome!
                                </h1>
                            </td>
                        </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
          <![endif]-->
                </td>
            </tr>
            <!-- COPY BLOCK -->
            <tr>
                <td align="center" class="px-10 bg-ceej-body">
                    <!--[if (gte mso 9)|(IE)]>
            <table align="center" cellspacing="0" cellpadding="0" style="width: 600px;">
              <tr>
                <td align="center" valign="top">
                  <![endif]-->
                    <table class="w-full max-w-600">
                        <!-- COPY -->
                        <tr>
                            <td align="left" class="pt-20 px-30 pb-40 leading-25 text-slate-dark bg-white">
                                <p class="m-0 text-lg">
                                    We're excited to have you get started. {{page.context.businessName}} First, you need to confirm your account. Just
                                    press the button below.
                                </p>
                            </td>
                        </tr>
                        <!-- BUTTON -->
                        <tr>
                            <td align="left" class="bg-white">
                                <table class="w-full">
                                    <tr>
                                        <td align="center" class="bg-white pt-20 px-30 pb-60">
                                            <table>
                                                <tr>
                                                    <td align="center"
                                                        class="rounded-sm bg-ceej-orange hover:bg-orange-500">
                                                        <a href="{{{page.context.url}}}" target="_blank"
                                                            class="inline-block py-15 px-25 rounded-xs text-xl no-underline all:font-sans text-white hover:border-orange-500"
                                                            style="border: 1px solid #FFA73B;">Confirm Account</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- COPY -->
                        <tr>
                            <td align="left" class="px-30 leading-25 text-slate-dark bg-white">
                                <p class="m-0 text-lg">
                                    If that doesn't work, copy and paste the following link in your browser:
                                </p>
                            </td>
                        </tr>
                        <!-- COPY -->
                        <tr>
                            <td align="left" class="py-20 px-30 text-lg leading-25 text-slate-dark bg-white">
                                <p class="m-0">
                                    <a href="https://litmus.com" target="_blank"
                                        class="text-ceej-orange underline hover:no-underline">XXX.XXXXXXX.XXX/XXXXXXXXXXXXX</a>
                                </p>
                            </td>
                        </tr>
                        <!-- COPY -->
                        <tr>
                            <td align="left" class="px-30 pb-20 text-lg leading-25 text-slate-dark bg-white">
                                <p class="m-0">
                                    If you have any questions, just reply to this email—we're always happy to help out.
                                </p>
                            </td>
                        </tr>
                        <!-- COPY -->
                        <tr>
                            <td align="left"
                                class="px-30 pb-40 rounded-bl rounded-br text-lg leading-25 text-slate-dark bg-white">
                                <p class="m-0">
                                    Cheers,<br>
                                    The Ceej Team
                                </p>
                            </td>
                        </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
          <![endif]-->
                </td>
            </tr>
            <!-- SUPPORT CALLOUT -->
            <tr>
                <td align="center" class="pt-30 px-10 bg-ceej-body">
                    <!--[if (gte mso 9)|(IE)]>
            <table align="center" cellspacing="0" cellpadding="0" style="width: 600px;">
              <tr>
                <td align="center" valign="top">
                  <![endif]-->
                    <table class="w-full max-w-600">
                        <!-- HEADLINE -->
                        <tr>
                            <td align="center"
                                class="p-30 rounded text-lg leading-25 text-slate-dark bg-ceej-orange-light">
                                <h2 class="m-0 text-xl font-normal text-ceej-black">Need more help?</h2>
                                <p class="m-0">
                                    <a href="https://litmus.com" target="_blank"
                                        class="text-ceej-orange underline hover:no-underline">We're here, ready to
                                        talk</a>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
          <![endif]-->
                </td>
            </tr>
            <!-- FOOTER -->
        </table>
    </block>
</extends>
