<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    Please click on the following link, or paste this into your browser to complete the process<br> {{url}}

    Sincerely,<br>
    support@360id.com
</body>

</html>
