<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    Dear {{name}},<br><br>
    Someone (hopefully you!) has requested a link to change your password, and you can do this through the link
    below.<br><br>
    Please be aware that for security reasons this link becomes invalid after 6 hours.

    Please click on the following link, or paste this into your browser to complete the process<br>

    {{url}}

    If you did not request this, please ignore this email and your password will remain unchanged.

    Sincerely,<br>
    support@360id.com

</body>

</html>