<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    Hello {{firstName}} {{lastName}}<br><br>

    <p>Thank you for contacting us.<br><br>
</body>

</html>